@(title: String, heading: String, message: String)(implicit request : Request[_])

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <h1>@heading</h1>

        <p><strong>Frontend failed for the following reason:</strong></p>

        <p>@message</p>

    </body>
</html>